# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xcresult
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
